---
import BaseLayout from "../layouts/BaseLayout.astro";
import Projects from "../components/Projects.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
import Timeline from "../components/Timeline.astro";
import Social from "../components/Social.astro";
import { Icon } from "astro-icon/components";

// SEO properties
const title = "About";
const description = "All about me";
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto max-w-2xl lg:max-w-4xl">
		<header class="max-w-2xl">
			<h1 class="text-4xl md:text-6xl font-black tracking-tight mb-8">
				About
			</h1>
		</header>

		<section class="max-w-2xl">
			<div class="space-y-8 leading-8">
				<p>
					I started out as a humble cooper in 17th-century
					Venice—shaping barrels by hand, minding my business, and
					occasionally overcharging pompous nobles. It was honest
					work, until one delivery turned into a blood pact I don’t
					fully remember. Next thing I knew, I was undead, unemployed,
					and oddly nocturnal.
				</p>
				<p>
					These days, I’m a full stack developer living in
					Transylvania, coding after dark for DracEats, the world’s
					leading blood delivery platform. I handle everything from
					API design to user flows—though I still miss the smell of
					fresh oak (less so the risk of splinters or exorcisms).
				</p>
				<p>
					This blog is where I share my thoughts on tech, life as an
					eternal night-shift worker, and surviving agile sprints with
					werewolves. If that sounds useful—or at least mildly
					cursed—you’re in the right place.
				</p>
			</div>

			<div
				class="sm:flex sm:items-center sm:justify-between space-y-4 sm:space-y-0 my-10"
			>
				<a
					href="mailto:lorenzo@dilumenero.dev"
					class="flex items-center space-x-1 hover:text-primary-500"
				>
					<Icon name="heroicons:envelope" class="size-5" />
					<span>lorenzo@dilumenero.dev</span>
				</a>
				<div class="flex items-center space-x-4">
					<Social />
				</div>
			</div>
		</section>

		<section class="my-16 sm:my-30">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Career
			</h2>

			<div>
				<Timeline />
			</div>
		</section>
	</div>

	<div class="my-16 sm:my-30">
		<div class="mx-auto lg:max-w-4xl">
			<h2
				class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
			>
				Projects
			</h2>
		</div>

		<div class="mx-auto lg:max-w-5xl">
			<Projects />
		</div>
	</div>

	<div class="mx-auto lg:max-w-4xl my-16 sm:my-30">
		<NewsletterForm />
	</div>
</BaseLayout>
